@import "tailwindcss";

/* ------------------------------------------------------------------------------------------------- */

@theme {
  --color-primary-1: #FFE5A1;
  --color-primary-2: #FFCF53;
  --color-primary-3: #E1A300;
  --color-primary-4: #4A3500;
  --color-primary-accent: #FFB800;
  
  --color-secondary-1: #FFC8A1;
  --color-secondary-2: #FF9A53;
  --color-secondary-3: #E15D00;
  --color-secondary-4: #4A1F00;  
  --color-secondary-accent: #FF6A00;
  
  --color-tertiary-1: #E11F00;
  
  --color-background: #4A1F00; /* secondary-4 */
  --color-foreground: #FFE5A1; /* primary-1 */

  --color-hover: #FFC8A1;       /* secondary-1 */
  --color-hover-text: #E15D00; /* secondary-3 */

  --color-primary-text: #4A3500;    /* primary-4 */
  --color-secondary-text: #E15D00; /* secondary-3 */
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-primary-1: #D8DCFC;
      --color-primary-2: #041489;
      --color-primary-3: #020F6D;
      --color-primary-4: #010734;
      --color-primary-accent: #142DEB;
      
      --color-secondary-1: #E4D6FC;
      --color-secondary-2: #340388;
      --color-secondary-3: #29026C;
      --color-secondary-4: #130034;  
      --color-secondary-accent: #5F0FEA;
      
      --color-tertiary-1: #079EE7;
      
      --color-background: #010734;  /* primary-4 */
      --color-foreground: #020F6D;  /* primary-3 */

      --color-hover: #E4D6FC;       /* secondary-2 */
      --color-hover-text: #5F0FEA;  /* secondary-accent */

      --color-primary-text: #D8DCFC;    /* primary-1 */
      --color-secondary-text: #079EE7;  /* tertiary-1 */
    }
  }
}




















/* ------------------------------------------------------------------------------------------------- */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
