@import "tailwindcss";

/* ------------------------------------------------------------------------------------------------- */

@theme {
  --color-backdrop: oklch(25.7% 0.09 281.288); /* indigo-950 */
  --color-foreground: oklch(98.7% 0.022 95.277); /* amber-50 */


  /* fills */
  --color-fill-1: oklch(82.8% 0.189 84.429); /* amber-400 */
  --color-fill-2: oklch(92.4% 0.12 95.746); /* amber-200 */
  
  --color-hover-fill-1: oklch(50.5% 0.213 27.518); /* red-700 */
  
  /* accents */
  --color-accent-1: oklch(66.6% 0.179 58.318); /* amber-600 */
  --color-accent-2: oklch(66.6% 0.179 58.318); /* amber-600 */
  --color-accent-3: oklch(76.9% 0.188 70.08); /* amber-500 */

  /* text */
  --color-text-1: oklch(47.3% 0.137 46.201); /* amber-800 */
  --color-text-2: oklch(26.6% 0.079 36.259); /* orange-950 */
  --color-text-3: oklch(47% 0.157 37.304); /* orange-800 */

  --color-hover-text-1: oklch(97.1% 0.013 17.38); /* red-50 */

}

@layer theme {
  :root, :host {
    @variant dark {
      --color-backdrop: oklch(12.9% 0.042 264.695); /* slate-950 */
      --color-foreground: oklch(29.3% 0.066 243.157); /* sky-950 */
      

      /* fills */
      --color-fill-1: oklch(28.2% 0.091 267.935); /* blue-950 */
      --color-fill-2: oklch(37.9% 0.146 265.522); /* blue-900 */

      --color-hover-fill-1: oklch(28.3% 0.141 291.089); /* violet-950 */


      /* accents */
      --color-accent-1: oklch(54.6% 0.245 262.881); /* blue-600 */
      --color-accent-2: oklch(71.5% 0.143 215.221); /* cyan-500 */
      --color-accent-3: oklch(60.9% 0.126 221.723); /* cyan-600 */
      

      /* text */
      --color-text-1: oklch(88.2% 0.059 254.128); /* blue-200 */
      --color-text-2: oklch(92.9% 0.013 255.508); /* slate-200 */
      --color-text-3: oklch(78.5% 0.115 274.713); /* indigo-300 */
      
      --color-hover-text-1: oklch(92.4% 0.12 95.746); /* amber-200 */
    }
  }
}




















/* ------------------------------------------------------------------------------------------------- */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
